/* TBD */
/* Note:
- Color scheme source: https://visme.co/blog/website-color-schemes/

*/

:root {
    --color-primary1: #E43D12;
    --color-primary2: #D6536D;
    --color-primary3: #FFA2B6;
    --color-highlight: #EFB11D;
    --color-background: #EBE9E1;
    --color-text: #333333;
    --color-border: #C0C0C0;
    --line-height: 160%;
    --font-main: monospace;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100%;
    font-family: var(--font-main);
    font-size: clamp(16px, 1.1vw, 18px); /* Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/clamp */
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
}


header {
    color: var(--color-primary1);
    font-family: var(--font-main);
    font-size: 3em;
    padding: 20px 0;
}


header#masterhead {
    display: block;
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 1.2;
}


header#masterhead a {
    color: var(--color-primary1);
    background-color: #EBE9E1;
    text-decoration: none;
    text-shadow: 3px 3px 0 #ffffff;
}


.container {
    margin: 30px auto 40px auto;
    padding: 16px;
    border-radius: 10px;
    max-width: 960px;
}


div {
    box-sizing: border-box;
}


div#jumpto {
    position: sticky;
    top: auto;
}


nav {
    display: block;
    margin: auto 0 0 0;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 100; /* Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
}


main {
    padding-bottom: 3rem;
}


#navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
    padding: 8px 16px 8px 0;
    background-color: var(--color-background);
    border-bottom: 3px solid #ffffff;
}


#navbar a[aria-current="page"] {
    font-weight: bold;
    border-bottom: 2px solid var(--color-highlight);
  
}


[id] {
  scroll-margin-top: 88px;
}


.back-to-top {
  position: fixed;
  bottom: 35px;
  right: 24px;
  background-color: #ffffff;
  color: var(--color-highlight);
  text-decoration: none;
  transform: rotate(90deg);
  padding: 7px 15px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 6px var(--color-border);
  transition: opacity .2s;
}


html {
  scroll-behavior: smooth;
}


h1 {
    color: var(--color-primary1);
    font-size: 1.8em;
    line-height: var(--line-height);
    margin: auto;
}


h2 {
    color: var(--color-primary2);
    font-weight: normal;
    line-height: var(--line-height);
    margin: auto;
}


h3 {
    color: var(--color-primary3);
    line-height: var(--line-height);
    margin: auto;
}


p {
    line-height: var(--line-height);
}


a {
    color: var(--color-primary2);
}


small {
    font-size: smaller;
    line-height: 150%;
}


ul li {
    line-height: var(--line-height);
    padding-left: 0;
}


ul li::marker {
    color: var(--color-primary2);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8vh;
}


th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}


th {
    color: var(--color-highlight);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 0 #ffffff;
    border-bottom: 1.5px solid var(--color-highlight);
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 1em auto;
}


.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* !!!! slideshow !!!! 
ref: https://www.w3schools.com/howto/howto_js_slideshow.asp*/
.slideshow-container {
    max-width: 100%;
    height: 60vh;
    position: relative;
    margin: 1em auto;
}


.mySlides img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    height: 60vh;
}


.slide-fade {
    animation-name: slidefade;
    animation-duration: 1s;
}


/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: var(--color-highlight);
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid var(--color-highlight);
    user-select: none;
    box-shadow: 0 2px 6px var(--color-border);
}


/* Position the "next button" to the right */
.slideshow-container .next {
    right: 0;
}


a.back-to-top:hover, #navbar a:hover, a:hover, .slideshow-container .prev:hover, .slideshow-container .next:hover {
    color: var(--color-primary1);
    border-bottom: 2px solid var(--color-highlight);

}


footer {
    background-color: var(--color-border);
    color: var(--color-background);
    font-size: 0.7em;
    padding: 0 6px 0 0;
    margin-top: 40px;
    text-align: right;
    position: relative;
    bottom: 0
}


footer p {
    margin: 0;
}


footer a {
    color: var(--color-background);
}
